-- Check if push notification trigger exists
SELECT trigger_name, event_manipulation, action_statement 
FROM information_schema.triggers 
WHERE trigger_name LIKE '%push%' OR trigger_name LIKE '%notification%';

-- Check if push_subscriptions table exists
SELECT table_name, column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'push_subscriptions';

-- Check if pg_net extension is enabled
SELECT * FROM pg_extension WHERE extname = 'pg_net';
